# unikube commons
git+git://github.com/unikubehq/commons.git@1.7.0

# regular pypi
bpython
Django>=2.0,<3.0
django-extensions
django-hurricane~=0.6.0
environs~=9.5.0
graphene-django==2.9.1
graphene-federation~=0.1.0
psycopg2==2.8.6
sentry-sdk~=0.19.5

# tests
factory_boy
